---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=SF&term=dinner
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer bad_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - b58fa78db4b14151
      X-Proxied:
      - 10-64-0-84-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"error": {"code": "TOKEN_INVALID", "description": "Invalid access
        token or authorization header."}}'
  recorded_at: Mon, 23 Oct 2017 08:14:15 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/yelp-san-francisco
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 1bfc1cb17655187d
      X-Proxied:
      - 10-64-16-186-uswest1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"id": "yelp-san-francisco", "name": "Yelp", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/nQK-6_vZMt5n88zsAS94ew/o.jpg",
        "is_claimed": true, "is_closed": false, "url": "https://www.yelp.com/biz/yelp-san-francisco?adjust_creative=K5qzEBbLi0VoiW4hxZFvMA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_lookup&utm_source=K5qzEBbLi0VoiW4hxZFvMA",
        "phone": "+14159083801", "display_phone": "(415) 908-3801", "review_count":
        7715, "categories": [{"alias": "massmedia", "title": "Mass Media"}], "rating":
        2.5, "location": {"address1": "140 New Montgomery St", "address2": "", "address3":
        "", "city": "San Francisco", "zip_code": "94105", "country": "US", "state":
        "CA", "display_address": ["140 New Montgomery St", "San Francisco, CA 94105"],
        "cross_streets": "Natoma St & Minna St"}, "coordinates": {"latitude": 37.7867703362929,
        "longitude": -122.399958372115}, "photos": ["https://s3-media2.fl.yelpcdn.com/bphoto/nQK-6_vZMt5n88zsAS94ew/o.jpg",
        "https://s3-media2.fl.yelpcdn.com/bphoto/yFHIb9gob4TzhKUemMOPww/o.jpg", "https://s3-media1.fl.yelpcdn.com/bphoto/EHCfkEpZraIfPl8gvCo1tg/o.jpg"],
        "hours": [{"open": [{"is_overnight": false, "start": "0800", "end": "1800",
        "day": 0}, {"is_overnight": false, "start": "0800", "end": "1800", "day":
        1}, {"is_overnight": false, "start": "0800", "end": "1800", "day": 2}, {"is_overnight":
        false, "start": "0800", "end": "1800", "day": 3}, {"is_overnight": false,
        "start": "0800", "end": "1800", "day": 4}], "hours_type": "REGULAR", "is_open_now":
        false}], "transactions": []}'
  recorded_at: Mon, 23 Oct 2017 08:14:16 GMT
recorded_with: VCR 3.0.3
